.cabecalho{
background-color: rgb(172, 138, 223);
color: rgb(253, 251, 251);
display: flex;
justify-content: space-around;
}

.cabecalho-imagem{
    width: 80%;
}

.cabecalho-lista-item{
display: inline-block;
margin: 0 16px;
padding: 24px 0;
font-size: 28px;
}
.escola-imagem{
  width: 25%;  
}


.escola{
display: flex;
color: white;
background-image: radial-gradient(circle at 50% 112.69%, #006ce8 0, #0069eb 8.33%, #0064ec 16.67%, #005ee9 25%, #0056e5 33.33%, #004dde 41.67%, #4d42d4 50%, #7234c8 58.33%, #8c21bb 66.67%, #a000ac 75%, #af009c 83.33%, #bb008b 91.67%, #c40079 100%);
}