.cabecalho{
background-color: rgb(172, 138, 223);
color: rgb(253, 251, 251);
display: flex;
justify-content: space-around;
}

.cabecalho-imagem{
    width: 80%;
}

.cabecalho-lista-item{
display: inline-block;
margin: 0 16px;
padding: 24px 0;
font-size: 28px;
}
.escola-imagem{
  width: 25%;  
}

.escola{
    display: flex;
    color:rgb(246, 247, 248);
}